[Desktop Entry]
Type=Application
Version=1.0
Name=LocalTranslate
GenericName=Local Offline Translator
GenericName[ca]=Traductor local fora de línia
GenericName[da]=Lokal offline-oversætter
GenericName[de]=Lokaler Offline-Übersetzer
GenericName[en_GB]=Local Offline Translator
GenericName[es]=Traductor local sin conexión
GenericName[fi]=Paikallinen offline-kääntäjä
GenericName[fr]=Traducteur local hors ligne
GenericName[gl]=Tradutor local sen conexión
GenericName[it]=Traduttore locale offline
GenericName[ja]=ローカルオフライン翻訳ツール
GenericName[ko]=로컬 오프라인 번역기
GenericName[nb]=Lokal frakoblet oversetter
GenericName[nl]=Lokale offline vertaler
GenericName[nn]=Lokal offline-omsetjar
GenericName[pl]=Lokalny tłumacz offline
GenericName[pt]=Tradutor Local Offline
GenericName[pt_BR]=Tradutor Local Offline
GenericName[ru]=Локальный офлайн-переводчик
GenericName[sk]=Lokálny offline prekladač
GenericName[sl]=Lokalni brez povezave prevajalnik
GenericName[sr@ijekavian]=Lokalni vanmrežni prevodilac
GenericName[sr@ijekavianlatin]=Lokalni vanmrežni prevodilac
GenericName[sr@latin]=Lokalni vanmrežni prevodilac
GenericName[sr]=Локални ванмрежни преводилац
GenericName[sv]=Lokal offlineöversättare
GenericName[tr]=Yerel Çevrimdışı Çevirici
GenericName[uk]=Локальний офлайн-перекладач
GenericName[zh_CN]=本地离线翻译器
GenericName[zh_TW]=本地離線翻譯器
Comment=Local offline machine translator
Comment[ca]=Traductor automàtic local fora de línia
Comment[da]=Lokal offline-maskinoversætter
Comment[de]=Lokaler Offline-Maschinenübersetzer
Comment[en_GB]=Local offline machine translator
Comment[es]=Traductor automático local sin conexión
Comment[fi]=Paikallinen offline-konekääntäjä
Comment[fr]=Traducteur automatique local hors ligne
Comment[gl]=Tradutor automático local sen conexión
Comment[it]=Traduttore automatico locale offline
Comment[ja]=ローカルオフライン機械翻訳ツール
Comment[ko]=로컬 오프라인 기계 번역기
Comment[nb]=Lokal frakoblet maskinoversetter
Comment[nl]=Lokale offline machinevertaler
Comment[nn]=Lokal offline-maskinomsetjar
Comment[pl]=Lokalny offline tłumacz maszynowy
Comment[pt]=Tradutor Automático Local Offline
Comment[pt_BR]=Tradutor Automático Local Offline
Comment[ru]=Локальный офлайн машинный переводчик
Comment[sk]=Lokálny offline strojový prekladač
Comment[sl]=Lokalni brez povezave strojni prevajalnik
Comment[sr@ijekavian]=Lokalni vanmrežni mašinski prevodilac
Comment[sr@ijekavianlatin]=Lokalni vanmrežni mašinski prevodilac
Comment[sr@latin]=Lokalni vanmrežni mašinski prevodilac
Comment[sr]=Локални ванмрежни машински преводилац
Comment[sv]=Lokal offline-maskinöversättare
Comment[tr]=Yerel Çevrimdışı Makine Çevirmeni
Comment[uk]=Локальний офлайн машинний перекладач
Comment[zh_CN]=本地离线机器翻译器
Comment[zh_TW]=本地離線機器翻譯器
Icon=localtranslate
Exec=localtranslate
Categories=Utility;Education;
Keywords=Translate;Translator;Offline;Machine Translation;Language;Text;Local;AI;Speech;Dictionary;